body {
  background-color: #eef5ff;
  user-select: none;
  font-family: "poppins", sans-serif;
  margin-bottom: 100px;
}

/* fonts */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* nav */

.sajjad-nav {
  display: flex;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 1px solid #888;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #ffffff;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
}

.brand img {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  border-radius: 50%;
  vertical-align: middle;
}

.logo {
  font-size: 25px;
  font-weight: 700;
  color: #1f2937;
  letter-spacing: 0.5px;
  vertical-align: middle;
}

.accent {
  color: #444;
  margin-left: 5px;
}

.tagline {
  font-weight: 500;
  color: #6b7280;
  letter-spacing: 0.3px;
}

@media (max-width: 768px) {
  .sajjad-nav {
    flex-direction: column;
    gap: 0.5rem;
  }
  .tagline {
    font-size: 0.9rem;
  }
}

.football-cards-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 20px;
  border-bottom: 2px solid #444;
}

.menu-btn {
  border: 1px solid #cccccc;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
  display: none;
  cursor: pointer;
}

.switch-btns button {
  border: 1px solid #cccccc;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0px 5px;
  transition: all 0.5s ease;
}

.switch-btn.active {
  background-color: rgb(0, 94, 246);
  color: white;
  border: none;
}

.matches-cards-live {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px;
}

.match-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 120px;
  padding: 20px;
  border: 1px solid #b7b7b7;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.match-card:hover {
  box-shadow: 0px 0px 2px #444;
  transform: scale(1.01);
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 3;
  backdrop-filter: brightness(40%);
  position: absolute;
  inset: 0;
  position: fixed;
  display: none;
}

.modal-box {
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  z-index: -4;
  border: 1px solid #a6a6a6;
  border-radius: 8px;
  background-color: #fff;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  transition: all 0.5s ease;
  opacity: 0;
  width: 80%;
}

.transfer-cards-modal {
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  z-index: -4;
  border: 1px solid #a6a6a6;
  border-radius: 8px;
  background-color: #fff;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  transition: all 0.5s ease;
  opacity: 0;
  width: 35%;
}

.goal-cards-modal {
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  z-index: -4;
  border: 1px solid #a6a6a6;
  border-radius: 8px;
  background-color: #fff;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  transition: all 0.5s ease;
  opacity: 0;
  padding: 10px;
  width: 35%;
}

.transfer-player-bio {
  font-weight: 300;
  font-size: 14px;
  padding: 10px;
}

.venue-name img {
  width: 15px;
  vertical-align: middle;
  padding-right: 5px;
}

.modal-match-round img {
  width: 15px;
  vertical-align: middle;
  padding-right: 5px;
}

.modal-box-open {
  opacity: 1;
  z-index: 5;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 15px;
  border-bottom: 1px solid #cccccc;
}

.modal-header img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal-teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0px 20px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 30px;
}

.modal-teams .modal-team {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  gap: 10px;
}

.vs-span {
  font-weight: 500;
  font-size: 2rem;
}

.modal-match-card-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 60%;
}

.modal-match-time {
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 2px 4px;
  font-weight: 300;
  font-size: 12px;
}

.modal-match-status {
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 2px 4px;
  font-weight: 300;
  font-size: 12px;
}

.modal-teams img {
  width: 60px;
}

.modal-match-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #cccccc;
}

.modal-home-team-score {
  display: flex;
  width: 20%;
  font-size: 2rem;
  font-weight: 500;
  justify-content: center;
}

.modal-away-team-score {
  display: flex;
  width: 20%;
  font-size: 2rem;
  font-weight: 500;
  justify-content: center;
}

.modal-winner-team {
  display: flex;
  width: 60%;
  font-size: 14px;
  font-weight: 300;
  justify-content: center;
}

.modal-match-goals {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
}

.modal-home-team-goals {
  border-right: 1px solid #cccccc;
  padding: 10px;
  font-weight: 300;
  font-size: 12px;
  width: 50%;
}

.modal-away-team-goals {
  padding: 10px;
  font-weight: 300;
  font-size: 12px;
  width: 50%;
}

.modal-match-goals img {
  width: 15px;
  vertical-align: middle;
}

.modal-match-cards {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
}

.modal-home-team-cards {
  border-right: 1px solid #cccccc;
  padding: 10px;
  font-weight: 300;
  font-size: 12px;
  width: 50%;
}

.modal-away-team-cards {
  padding: 10px;
  font-weight: 300;
  font-size: 12px;
  width: 50%;
}

.modal-match-cards img {
  width: 15px;
  vertical-align: middle;
}

.modal-match-goals {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
}

.modal-home-team-goals {
  border-right: 1px solid #cccccc;
  padding: 10px;
  font-weight: 300;
  font-size: 12px;
  width: 50%;
}

.modal-away-team-goals {
  padding: 10px;
  font-weight: 300;
  font-size: 12px;
  width: 50%;
}

.modal-match-goals img {
  width: 15px;
  vertical-align: middle;
}

.modal-match-subs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
}

.modal-home-team-subs {
  border-right: 1px solid #cccccc;
  padding: 10px;
  font-weight: 300;
  font-size: 12px;
  width: 50%;
}

.modal-away-team-subs {
  padding: 10px;
  font-weight: 300;
  font-size: 12px;
  width: 50%;
}

.modal-away-team-sub {
  display: flex;
  gap: 5px;
}

.modal-home-team-sub {
  display: flex;
  gap: 5px;
}

.modal-home-team-card {
  display: flex;
  gap: 5px;
}

.modal-away-team-card {
  display: flex;
  gap: 5px;
}

.modal-home-team-goal {
  display: flex;
  gap: 5px;
}

.modal-away-team-goal {
  display: flex;
  gap: 5px;
}

.modal-match-subs img {
  width: 15px;
  vertical-align: middle;
}

.player-in {
  color: green;
}

.player-out {
  color: red;
}

.modal-match-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  border-bottom: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 12px;
}

.venue {
  border-right: 1px solid #cccccc;
  padding: 10px;
  width: 50%;
}

.modal-league-season {
  width: 50%;
  padding: 10px;
}

.no-scroll {
  overflow: hidden;
}

.match-card img {
  width: 50px;
}

.home-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  text-align: center;
  width: 20%;
  font-size: 14px;
  gap: 10px;
}

.match-about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 60%;
}

.match-scores {
  font-weight: 400;
  font-size: 2rem;
}

.match-time {
  border-radius: 8px;
  border: 1px solid #989898;
  color: #111;
  padding: 2px 4px;
  font-weight: 200;
  font-size: 12px;
}

.match-status {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #666;
  gap: 6px;
  color: #111;
  border-radius: 8px;
  padding: 2px 4px;
  font-weight: 300;
  font-size: 12px;
}

.away-team {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  gap: 10px;
  text-align: center;
}

.matches-cards-today {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px;
}

.season {
  display: flex;
  align-items: center;
  gap: 5px;
}

.league-table-name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.league-table-name img {
  width: 20px;
}

.leagues-table {
  display: none;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-left img {
  width: 20px;
  height: 20px;
}

select {
  width: 150px;
  height: 30px;
  border: 1px solid #cccccc;
  color: #636363;
  border-radius: 8px;
  background-color: #fff;
  appearance: none;
  margin: 0px 20px;
  cursor: pointer;
  padding: 0px 10px;
  font-size: 12px;
}

.redStandings {
  border-left: 2px solid red;
}

.BlueStandings {
  border-left: 2px solid rgb(0, 158, 250);
}

select:focus {
  outline: none;
}

option {
  background-color: #fff;
  cursor: pointer;
}

.table {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  margin: 20px;
  min-width: 600px;
  background-color: #fff;
}

.ranking .rank {
  display: flex;
  align-items: center;
  padding: 6px 15px;
  border-bottom: 1px solid #e5e5e5;
  justify-content: space-between;
}

.table-header {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #e5e5e5;
  justify-content: space-between;
  font-weight: 200;
  font-size: 13px;
}

.team-rank {
  width: 20px;
}

.table-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.table-right span {
  font-weight: 300;
  font-size: 14px;
}

.team-name {
  font-weight: 300;
  font-size: 14px;
}

.live-match-time {
  border: 1px solid green;
  border-radius: 8px;
  padding: 2px 4px;
  font-weight: 300;
  font-size: 12px;
  color: green;
  animation: liveMatchTimeColor 1s ease-in-out infinite;
}

@keyframes liveMatchTimeColor {
  0% {
    box-shadow: 0 0 0 rgba(46, 204, 113, 0.7);
  }
  50% {
    box-shadow: 0 0 3px green;
  }
  100% {
    box-shadow: 0 0 0 rgba(46, 204, 113, 0.7);
  }
}

.live-bedge {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  gap: 6px;
  color: red;
  border-radius: 8px;
  font-weight: 300;
  font-size: 10px;
  padding: 2px 4px;
  animation: liveMatchBedgeColor 1s ease-in-out infinite;
}

@keyframes liveMatchBedgeColor {
  0% {
    box-shadow: 0 0 0 rgb(255, 70, 70);
  }
  50% {
    box-shadow: 0 0 3px red;
  }
  100% {
    box-shadow: 0 0 0 rgb(255, 70, 70);
  }
}

.table-right .points {
  font-weight: 600;
  font-size: 16px;
}

.table-right div {
  width: 15px;
}

.score-titles {
  display: flex;
  align-items: center;
  gap: 20px;
}

.score-titles div {
  width: 15px;
}

.table-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.error-loading-span {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0px;
}

.error-loading-span-league {
  font-size: 18px;
  font-weight: 700;
  margin: 20px;
}

.transfer-players-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px;
}

.player-transfer-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #b8b8b8;
  border-radius: 8px;
  cursor: pointer;
  gap: 5px;
  transition: all 0.4s ease;
}

.player-transfer-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 4px #444;
}

.player-transfer-card-img {
  width: 100%;
  border-radius: 4px;
}

.from-team {
  width: 20px;
  height: 20px;
}

.to-team {
  width: 20px;
  height: 20px;
}

.player-transfer-card-name {
  font-weight: 500;
  font-size: 14px;
}

.nationality-flag {
  width: 15px;
  margin-right: 4px;
  vertical-align: middle;
  border: 0.5px solid #111;
}

.player-transfer-card-time {
  font-weight: 300;
  font-size: 10px;
}

.transfer-teams {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0px;
}

.player-transfer-card-detail-span {
  font-size: 12px;
  font-weight: 300;
}

.teams-arrow {
  width: 15px;
  height: 10px;
  opacity: 0.7;
}

.transfer-controls {
  margin: 0px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.transfer-player-search {
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 0px 10px;
}

.search-goals {
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 0px 10px;
  margin: 5px 20px;
}

.search-goals:focus {
  outline: none;
}

.transfer-player-search:focus {
  outline: none;
}

.transfer-cards-modal-top {
  display: flex;
  padding: 10px;
  gap: 20px;
  border-bottom: 1px solid #adadad;
}

.transfer-modal-player-img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.transfer-cards-modal-about {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.transfer-modal-player-nat img {
  width: 15px;
  vertical-align: middle;
}

.transfer-modal-player-name {
  font-weight: 500;
  font-size: 14px;
}

.transfer-modal-player-nat {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 300;
  font-size: 12px;
}

.transfer-modal-player-position {
  font-weight: 300;
  font-size: 12px;
}

.transfer-modal-player-age {
  font-weight: 300;
  font-size: 12px;
}

.transfer-about {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 14px;
  padding: 10px;
  gap: 5px;
  border-bottom: 1px solid #adadad;
}

.transfer-cards-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  padding: 5px 10px;
  border-bottom: 1px solid #adadad;
  font-size: 12px;
}

.transfer-cards-modal-header img {
  width: 20px;
  cursor: pointer;
}

.goals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px;
}

.goal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #b8b8b8;
  border-radius: 8px;
  cursor: pointer;
  gap: 5px;
  transition: all 0.4s ease;
}

.goal:hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 4px #444;
}

.top-goal-scorer-img {
  width: 100%;
  margin: auto;
  height: 70%;
  border-radius: 4px;
  border: none;
}

.top-goal-scorer-about {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.goal-review {
  font-weight: 300;
  font-size: 12px;
}

.top-goal-scorer-name {
  font-weight: 500;
  font-size: 1rem;
}

.top-goal-scorer-team {
  font-weight: 300;
  font-size: 14px;
}

.top-goal-scorer-league {
  font-weight: 300;
  font-size: 12px;
}

.goal-video {
  width: 100%;
  border-radius: 8px;
  margin: auto;
}

.goal-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 10px;
}

.goal-modal-header img {
  width: 20px;
  cursor: pointer;
}

.goal-video-sound-btn {
  position: absolute;
  cursor: pointer;
  bottom: 25px;
  right: 18px;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
}

.teams {
  display: flex;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.team {
  display: flex;
  
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #636363;
  border-radius: 8px;
  font-weight: 300;
  width: 110px;
  height: 100px;
  gap: 10px;
  font-size: 12px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.favorite-team-logo {
  width: 40px;
  height: 40px;
}

.favorite-team-checkbox {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
  width: 15px;
}

@media (max-width: 1000px) {
  .goals {
    grid-template-columns: repeat(3, 1fr);
  }

  .transfer-players-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 850px) {
  .football-cards-header {
    flex-direction: column;
  }

  .switch-btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .switch-btns-open {
    height: 250px;
    border-top: 2px solid #636363;
    padding-top: 20px;
    opacity: 1;
  }

  .switch-btns button {
    margin: 5px auto;
    height: 30px;
    width: 100%;
  }

  .btn-title {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

@media (max-width: 768px) {
  .matches-cards-live {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .transfer-players-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .goals {
    grid-template-columns: repeat(2, 1fr);
  }

  .match-card img {
    width: 30px;
    height: 30px;
  }

  .match-scores {
    font-weight: 400;
    font-size: 1.5rem;
  }

  .match-time {
    font-weight: 200;
    font-size: 8px;
  }

  .match-status {
    font-weight: 200;
    font-size: 8px;
  }

  .match-about {
    gap: 10px;
  }

  .matches-cards-today {
    grid-template-columns: repeat(1, 1fr);
  }

  .transfer-cards-modal {
    width: 80%;
  }

  .goal-cards-modal {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .transfer-players-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .goals {
    grid-template-columns: repeat(1, 1fr);
  }

  .modal-box {
    width: 90%;
  }

  .modal-teams img {
    width: 50px;
  }

  .modal-match-time {
    font-size: 10px;
  }

  .modal-match-status {
    font-size: 10px;
  }

  .modal-team span {
    font-size: 10px;
  }

  .goal-video-sound-btn {
    width: 15px;
    height: 15px;
  }
}
